<% @musicians.each do |musician| %>
  <div>
    <h1><%= musician.name %></h1><br />
    <i><%= musician.hometown %></i><br />
    <p><%= musician.description %></p><br />
  </div>


  <hr />
<% end %>